@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
}
